*.o
*.d
*.so
*.so.*
*.lo
*~
*.pyc
*.la
.libs/

test/xcmtest.c

# Autoconf/Automake leaves an enormous amount of junk
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
**/.deps/*
**/.dirstamp
common/config.h
common/config.h.in
common/stamp-h1
config.log
config.status
libtool
install-sh
ltmain.sh
libxcm/git_version.c
include/xcm_version.h
m4/

client
server
xcm
xcmctl
xcmpong
xcmtest
